body{
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}
.container-fluid{
  padding: 0;
}
.__nave{
  background-color: rgb(40, 60, 79);
  max-width: 100vw;
  margin-bottom: 20px;
  justify-content: space-between;
  height: 50px;
}
.__navbar{
  justify-content: flex-end;
}
.o_navitem{
  color: rgb(247, 42, 27);
}
#myNavbar7 a{
  color: #ffffff !important;
}
.__imglogo{
  margin-top: 5px;
  width: 130px;
}
.__busqueda{
  justify-content: flex-end;
  /* background-color: rgb(0, 109, 223); */
  max-width: 100vw;
  margin-top: 40px;
  margin-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
}
.__buscar{
  justify-content: center;
}
.__peliculasdeldia{
  text-align: center;
  margin-top: 30px;
  margin-bottom: -20px;
}
.__peliculas{
  justify-content: space-around;
  margin: 20px auto;
  padding: 30px;
  max-width: 100vw;
}
.__itempelicula{
  border-radius: 10px 10px 10px 10px;
  margin: 10px;
  padding-top: 20px;
}
.__imgpelicula{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
.__detalle{
  justify-content: center;
  color: white;
  background-color: rgb(0, 105, 217);
  width: 70%;
  border: none;
  margin: 0 auto;
  font-weight: bold;
}
.__detalle:hover{
  background-color: rgba(0, 105, 217, 0.75);
  color: white;
}



.__comprar{
  justify-content: center;
  color: white;
  background-color: rgb(200, 35, 51);
  width: 70%;
  border: none;
  margin: 0 auto;
  font-weight: bold;
}
.__comprar:hover{
  background-color: rgba(200, 35, 51, 0.75);
  color: white;
}
.__textopelicula{
  text-align: center;
}
.__todos{
  border-radius: 20px;
  justify-content: center;
  background-color: rgb(247, 42, 27);
  border: none;
  width: 300px;
  margin: 30px auto;
  font-weight: bold;
}
.__todos:hover{
  background-color: rgba(247, 42, 27, 0.75);
}
.piedepag{
  width: 100vw;
  max-height: 1000px;
  margin: 0 auto;
  background-color: rgb(40, 60, 79);
  /* border-radius: 0px 0px 20px 20px; */
  justify-content: space-around;
}
.__artpie{
  margin: 15px auto;
  text-align: center;
}
.__artpie h4{
  font-size: 1.3rem;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
.__artpie p{
  color: #ffffff;
  line-height: 7px;
}
.__artpie a{
  text-decoration: none;
  color: #ffffff;
  line-height: 10px;
}
